<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonglu.live">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

<!--
    <uses-feature
        android:name="android.hardware.type.television"
        android:required="true" />
-->


    <!-- 仅仅在TV上运行设置为true，在TV和phone上运行设置为false。 -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <!-- 运行在TV设备上的应用不依靠触屏去输入 -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />



    <application
        android:name=".AppAplication"
        android:allowBackup="true"
        android:banner="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.VerifyCodeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--这个filter表明你的应用是在TV上可用，并且为Google Play上发布TV应用所必须。
                定义这个intent也意味着点击主屏幕的应用图标时，就是打开的这个activity。-->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="app.server"
            android:value="http://zb.591malls.com" />

        <activity
            android:name=".activity.LivePlayerActivity"
            android:label="播放页面"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".activity.MainActivity"
            android:label="直播列表"
            android:screenOrientation="landscape" />
    </application>

</manifest>